# Dependencies
node_modules/
.pnpm-store/

# Build output
.dist/
dist/
.out/
.next/
coverage/

# Caches
.turbo/

# Logs & runtime
*.log
logs/
*.pid
*.seed

# Env & secrets
.env
.env.*
!*.example

# Editor specific
.vscode/
.idea/
.DS_Store

# Docker
*.local.yml

# Misc
pnpm-debug.log
yarn-error.log
npm-debug.log
tools/pnpm/pnpm-linuxstatic-x64
